[submodule "elisp/yasnippet"]
	path = elisp/yasnippet
	url = https://github.com/capitaomorte/yasnippet
[submodule "elisp/auto-java-complete"]
	path = elisp/auto-java-complete
	url = https://github.com/emacs-java/auto-java-complete.git
