# Application generated
ac-comphist.dat
auto-save-list/
recentf
network-security.data
tramp
undohist/
elpa/
.*
!.gitignore
!.tern-config
.mc-lists.el             # multiple-cursors
url/
abbrev_defs

# Emacs bytecompiled file
*.elc

.cask
clang-complete

semanticdb/
test*
el-get/

# OSX
._*
.DS_Store
\#*

projectile-bookmarks.eld

# Scala
ensime/